<%- include('header', {rol: rol}) %>

<div class="container-fluid py-5">
  <div class="row">
    <!-- Información principal del evento -->
    <div class="col-md-6 mb-4">
      <div class="text-center mb-4">
        <h1 class="display-5 text-danger fw-bold"><%= evento.título %></h1>
      </div>
      <div class="border border-2 border-secondary rounded p-4 bg-light">
        <h2 class="h4 fw-bold text-secondary">Descripción</h2>
        <p class="text-justify"><%= evento.descripción %></p>
      </div>
    </div>

    <!-- Información adicional -->
    <div class="col-md-6 mb-4">
      <div class="text-center mb-4">
        <h1 class="display-5 text-danger fw-bold">Más Información</h1>
      </div>
      <div class="border border-2 border-secondary rounded p-4 bg-light mb-4">
        <h2 class="h4 fw-bold text-secondary">Ubicación</h2>
        <p><%= evento.ubicación %></p>
      </div>

      <!-- Información adicional dividida en columnas -->
      <div class="row">
        <div class="col-sm-6 mb-4">
          <div class="border border-2 border-secondary rounded p-4 bg-light text-center">
            <h3 class="h5 text-secondary fw-bold">Día</h3>
            <p class="fs-5"><%= evento.fecha %></p>
          </div>
        </div>
        <div class="col-sm-6 mb-4">
          <div class="border border-2 border-secondary rounded p-4 bg-light text-center">
            <h3 class="h5 text-secondary fw-bold">Hora Inicio</h3>
            <p class="fs-5"><%= evento.hora %></p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 mb-4">
          <div class="border border-2 border-secondary rounded p-4 bg-light text-center">
            <h3 class="h5 text-secondary fw-bold">Plazas</h3>
            <p class="fs-5"><%= evento.capacidad_máxima %></p>
          </div>
        </div>
        <div class="col-sm-6 mb-4 d-flex align-items-center justify-content-center">
            <button type="button" class="btn btn-primary btn-lg fw-bold px-4 py-3">
              INSCRÍBETE YA
            </button>
          </div>
      </div>
    </div>
  </div>
</div>

<%- include('footer') %>
