<%- include('header', {rol: rol, pg:"", color: color, font: font}) %>

<script src="../../javascripts/gestionInscripcion.js"></script>
<script src="/javascripts/editarEvento.js"></script>
<script src="/javascripts/cancelarEvento.js"></script>

<div class="container-fluid py-5">
  <div class="row">
    <!-- Información principal del evento -->
    <div class="col-md-6 mb-4">
      <div class="text-center mb-4">
        <h1 class="fw-bold">Evento: <%= evento.título %></h1>
      </div>
      <div class="border border-2 border-secondary rounded p-4">
        <h4 class="fw-bold text-secondary">Descripción</h4>
        <p class="text-justify"><%= evento.descripción %></p>
      </div>

      <% if (rol === 0) { %>
      <div class="text-center mt-4">
        <button
          type="button"
          class="btn btn-secondary fw-bold px-4 py-3 btn-inscripcion"
          data-evento-id="<%= evento.ID %>"
        >
          <%= inscrito %>
        </button>
      </div>
      <% } else if (id === evento.ID_org) { %>
      <div class="text-center mt-4 d-flex flex-row justify-content-around">
        <a
          href="/evento/listadoAsistentes/<%= evento.ID %>"
          class="btn btn-secondary fw-bold"
          >Listado de asistentes</a
        >
        <button
          type="button"
          class="btn btn-secondary fw-bold"
          data-bs-toggle="modal"
          data-bs-target="#editarEvento"
        >
          Editar evento
        </button>
        <button
          type="button"
          class="btn btn-secondary fw-bold"
          data-bs-toggle="modal"
          data-bs-target="#cancelarEvento"
        >
          Cancelar evento
        </button>
      </div>
      <% } %>
    </div>

    <!-- Información adicional -->
    <div class="col-md-6 mb-4">
      <div class="text-center mb-4">
        <h1 class="fw-bold">Más Información</h1>
      </div>
      <div class="border border-2 border-secondary rounded">
        <div class="p-3">
          <h4 class="fw-bold text-secondary">Ubicación</h4>
          <p>
            Puedes encontrarnos en la Facultad de
            <b><%= facultad.nombre %></b> en <b><%= evento.ubicación %></b>
          </p>
        </div>

        <div class="p-3">
          <h4 class="fw-bold text-secondary">Fecha del evento</h4>
          <p>
            El evento empezara el dia <b><%= evento.fecha %></b> a las
            <b><%= evento.hora %></b> y durará un total de
            <b><%= evento.duración_minutos %> minutos</b>.
          </p>
        </div>

        <div class="p-3">
          <h4 class="fw-bold text-secondary">Plazas disponibles</h4>
          <p>Plazas ocupadas: <b><%= capActual %></b></p>
          <p>Plazas totales: <b><%= evento.capacidad_máxima %></b></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal para actualizar evento -->
<div class="modal fade" id="editarEvento">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarEventoLabel">Editar evento</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body">
        <form id="formEditarEvento">
          <div class="mb-3">
            <label for="título" class="form-label">Título</label>
            <input
              type="text"
              class="form-control"
              id="título"
              name="título"
              value="<%= evento.título %>"
              required
            />
          </div>
          <div class="mb-3">
            <label for="descripción" class="form-label">Descripción</label>
            <br />
            <textarea
              class="form-control"
              name="descripción"
              id="descripción"
              rows="6"
            ><%= evento.descripción %></textarea>
          </div>
          <div class="mb-3">
            <label for="fecha" class="form-label">Fecha</label>
            <input
              type="date"
              class="form-control"
              id="fecha"
              name="fecha"
              value="<%= fechaBD %>"
              required
            />
          </div>
          <div class="mb-3">
            <label for="hora" class="form-label">Hora</label>
            <input
              type="time"
              class="form-control"
              id="hora"
              name="hora"
              value="<%= evento.hora %>"
              step="1"
              required
            />
          </div>
          <div class="mb-3">
            <label for="duración" class="form-label"
              >Duración (en minutos):</label
            >
            <input
              type="number"
              class="form-control"
              id="duración"
              name="duración"
              value="<%= evento.duración_minutos %>"
              step="1"
              required
            />
          </div>
          <div class="mb-3">
            <label for="ubicación" class="form-label">Ubicación</label>
            <input
              type="text"
              class="form-control"
              id="ubicación"
              name="ubicación"
              value="<%= evento.ubicación %>"
              required
            />
          </div>
          <div class="form-group mb-3">
            <label for="facultad" class="form-label">Facultad</label>
            <select class="form-select" id="facultad" name="facultad">
              <% todasFacultades.forEach(facultad => { %>
              <option value="<%= facultad.ID %>" <%= facultad.ID === evento.ID_facultad ? 'selected' : '' %> > 
                <%= facultad.nombre %>
              </option>
              <% }); %>
            </select>
          </div>
          <div class="mb-3">
            <label for="capacidad_máxima" class="form-label"
              >Capacidad máxima</label
            >
            <input
              type="number"
              class="form-control"
              id="capacidad_máxima"
              name="capacidad_máxima"
              value="<%= evento.capacidad_máxima %>"
              required
              step="1"
            />
          </div>
          <input
              type="hidden"
              id="capacidad_original"
              name="capacidad_original"
              value="<%= evento.capacidad_máxima %>"
          />
          <input
              type="hidden"
              id="id"
              name="id"
              value="<%= evento.ID %>"
          />
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-secondary">Guardar cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para cancelar evento -->
<div class="modal fade" id="cancelarEvento">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cancelarEventoLabel">Cancelar evento</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body">
          <h3 class="text-center">Está seguro de querer cancelar su evento?</h3>
          <br/>
          <h3 class="text-center mb-4">Sus usuarios inscritos serán notificados en caso de confirmación</h3>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-danger fs-4 btn-cancelar" data-evento-id="<%= evento.ID %>">Confirmar cancelación</button>
          </div>
      </div>
    </div>
  </div>
</div>

<%- include('footer') %>
