<%- include('header', {rol: rol, pg: "eventos", color: color, font: font}) %>
<script src="/javascripts/altaEvento.js"></script>

<div class="container-fluid mb-5">
  <!-- Eventos próximos -->
  <div class="p-2">
    <div class="m-4">
      <h2 class="text-center text-decoration-underline mb-4">
        Mis próximos eventos
      </h2>
      <div class="eventTable table-responsive">
        <table class="table border text-center table-striped">
          <thead>
            <tr>
              <th>Título</th>
              <th>Fecha</th>
              <th>Gestionar evento</th>
            </tr>
          </thead>
          <tbody>
            <% if (proximos && proximos.length > 0) { %> <%
            proximos.forEach(evento => { %>
            <tr>
              <td><%= evento.título %></td>
              <td><%= evento.fecha %></td>
              <td>
                <a
                  href="/evento/evento/<%= evento.ID %>"
                  class="btn btn-secondary"
                  role="button"
                  >Ver evento</a
                >
              </td>
            </tr>
            <% }); %> <% } else { %>
            <tr>
              <td colspan="5" class="text-center">
                No ha creado aún ningún evento
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="text-center">
      <!-- Botón para abrir el modal -->
      <button
        type="button"
        class="btn btn-secondary"
        data-bs-toggle="modal"
        data-bs-target="#añadirNuevoEvento"
      >
        Añadir nuevo evento
      </button>
    </div>
  </div>

  <!-- Modal para añadir evento -->
  <div class="modal fade" id="añadirNuevoEvento">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="añadirNuevoEventoLabel">
            Añadir nuevo evento
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Cerrar"
          ></button>
        </div>
        <div class="modal-body">
          <form id="formNuevoEvento">
            <div class="mb-3">
              <label for="título" class="form-label">Título</label>
              <input
                type="text"
                class="form-control"
                id="título"
                name="título"
                value=""
                required
              />
            </div>
            <div class="mb-3">
              <label for="descripción" class="form-label">Descripción</label>
              <br />
              <textarea
                class="form-control"
                name="descripción"
                id="descripción"
                rows="6"
              ></textarea>
            </div>
            <div class="mb-3">
              <label for="fecha" class="form-label">Fecha</label>
              <input
                type="date"
                class="form-control"
                id="fecha"
                name="fecha"
                required
              />
            </div>
            <div class="mb-3">
              <label for="hora" class="form-label">Hora</label>
              <input
                type="time"
                class="form-control"
                id="hora"
                name="hora"
                step="1"
                required
              />
            </div>
            <div class="mb-3">
              <label for="duración" class="form-label"
                >Duración (en minutos):</label
              >
              <input
                type="number"
                class="form-control"
                id="duración"
                name="duración"
                step="1"
                required
              />
            </div>
            <div class="mb-3">
              <label for="ubicación" class="form-label">Ubicación</label>
              <input
                type="text"
                class="form-control"
                id="ubicación"
                name="ubicación"
                required
              />
            </div>
            <div class="form-group mb-3">
              <label for="facultad" class="form-label">Facultad</label>
              <select class="form-select" id="facultad" name="facultad">
                <% todasFacultades.forEach(facultad => { %>
                <option value="<%= facultad.ID %>">
                  <%= facultad.nombre %>
                </option>
                <% }); %>
              </select>
            </div>
            <div class="mb-3">
              <label for="capacidad_máxima" class="form-label"
                >Capacidad máxima</label
              >
              <input
                type="number"
                class="form-control"
                id="capacidad_máxima"
                name="capacidad_máxima"
                required
                step="1"
              />
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-secondary">
                Guardar cambios
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('footer') %>
