<%- include('header', {rol:rol, pg:"inscripciones"}) %>
<div class="container-fluid mb-5">
  <!-- Eventos próximos -->
  <div class="p-4">
    <div class="m-4">
      <h2 class="text-center text-decoration-underline mb-3">
        Mis próximos eventos
      </h2>
      <div class="eventTable table-responsive">
        <table class="table fs-5 border text-center table-striped">
          <thead>
            <tr>
              <th>Título</th>
              <th>Fecha</th>
              <th>Más información</th>
            </tr>
          </thead>
          <tbody>
            <% if (proximos && proximos.length > 0) { %> <%
            proximos.forEach(evento => { %>
            <tr>
              <td><%= evento.título %></td>
              <td><%= evento.fecha %></td>
              <td>
                <a
                  href="/evento/evento/<%= evento.ID %>"
                  class="btn btn-primary"
                  role="button"
                  >Ver evento</a
                >
              </td>
            </tr>
            <% }); %> <% } else { %>
            <tr>
              <td colspan="3" class="text-center">
                No se ha inscrito aún en ningún evento
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <%- include('footer') %>
</div>
