<%- include('header', {rol:rol, pg:"bandeja", color: color, font: font, hayNotificaciones: hayNotificaciones}) %>
<script src="/javascripts/marcarLeido.js"></script>

<div class="container-fluid mb-5">
  <div class="p-2">
    <div class="m-4">
      <h2 class="text-center text-decoration-underline mb-4">
        Mis notificaciones
      </h2>
      <div class="eventTable table-responsive">
        <table id="notifyTable" class="table border text-center table-striped">
          <thead>
            <tr>
              <th>Mensaje</th>
              <th>Tipo</th>
              <th>Fecha</th>
              <th>Leído</th>
            </tr>
          </thead>
          <tbody>
            <% if (bandeja && bandeja.length > 0) { %> <%
            bandeja.forEach(notificacion => { %>
            <tr class="<%= notificacion.leido === 0 ? 'fw-bold' : '' %>">
              <td><%= notificacion.mensaje %></td>
              <td><%= notificacion.tipo %></td>
              <td><%= notificacion.fecha %></td>
              <td>
                <% if (notificacion.leido === 1) { %>
                  Leído
                <% } else { %>
                  <button
                  type="button"
                  class="btn btn-secondary btn-leido"
                  data-id="<%= notificacion.ID %>"
                >
                  Marcar como leído
                </button>
                <% } %>
              </td>
            </tr>
            <% }); %> <% } else { %>
            <tr>
              <td colspan="4" class="text-center">
                No tiene notificaciones por leer
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <%- include('footer') %>
</div>
