<%- include('header', {rol:rol}) %>
<div class="container py-5">
  <div class="d-flex row justify-content-around">
    <div class="col-md-6 px-4 mb-4">
      <h2 class="text-center mb-4 text-decoration-underline"> Datos personales </h2>
      <table class="table border fs-5">
        <tr>
          <th>Nombre completo:</th>
          <td><%= user.nombre %></td>
        </tr>
        <tr>
          <th>Teléfono:</th>
          <td><%= user.telefono || '-' %></td>
        </tr>
        <tr>
          <th>Facultad:</th>
          <td><%= facultad.nombre %></td>
        </tr>
        <tr>
          <th>Organizador:</th>
          <td><%= user.organizador ? 'Sí' : 'No' %></td>
        </tr>
      </table>
    </div>
    <div class="col-md-6 px-4">
      <h2 class="mb-4 text-decoration-underline text-center">Historial de eventos</h2>
      <div class="eventTable table-responsive">
        <table class="table fs-5 border text-center table-striped">
          <thead>
            <tr>
              <th>Título</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Paula Oramas Badillo</td>
              <td>Paula Oramas Badillo</td>
            </tr>
            <tr>
              <td>Paula Oramas Badillo</td>
              <td>Paula Oramas Badillo</td>
            </tr>
            <tr>
              <td>Paula Oramas Badillo</td>
              <td>Paula Oramas Badillo</td>
            </tr>
            <tr>
              <td>Paula Oramas Badillo</td>
              <td>Paula Oramas Badillo</td>
            </tr>
            <tr>
              <td>Paula Oramas Badillo</td>
              <td>Paula Oramas Badillo</td>
            </tr>
            <tr>
              <td>Paula Oramas Badillo</td>
              <td>Paula Oramas Badillo</td>
            </tr>
            <tr>
              <td>Paula Oramas Badillo</td>
              <td>Paula Oramas Badillo</td>
            </tr>
            <tr>
              <td>Paula Oramas Badillo</td>
              <td>Paula Oramas Badillo</td>
            </tr>
            <tr>
              <td>Paula Oramas Badillo</td>
              <td>Paula Oramas Badillo</td>
            </tr>
            <tr>
              <td>Paula Oramas Badillo</td>
              <td>Paula Oramas Badillo</td>
            </tr>
            <tr>
              <td>Paula Oramas Badillo</td>
              <td>Paula Oramas Badillo</td>
            </tr>
            <tr>
              <td>Paula Oramas Badillo</td>
              <td>Paula Oramas Badillo</td>
            </tr>
            <tr>
              <td>Paula Oramas Badillo</td>
              <td>Paula Oramas Badillo</td>
            </tr>
            <tr>
              <td>Paula Oramas Badillo</td>
              <td>Paula Oramas Badillo</td>
            </tr>
            <tr>
              <td>Paula Oramas Badillo</td>
              <td>Paula Oramas Badillo</td>
            </tr>
            <tr>
              <td>Paula Oramas Badillo</td>
              <td>Paula Oramas Badillo</td>
            </tr>
            <tr>
              <td>Paula Oramas Badillo</td>
              <td>Paula Oramas Badillo</td>
            </tr>
            <tr>
              <td>Paula Oramas Badillo</td>
              <td>Paula Oramas Badillo</td>
            </tr>
            <tr>
              <td>Paula Oramas Badillo</td>
              <td>Paula Oramas Badillo</td>
            </tr>
            <tr>
              <td>Paula Oramas Badillo</td>
              <td>Paula Oramas Badillo</td>
            </tr>
            <tr>
              <td>Paula Oramas Badillo</td>
              <td>Paula Oramas Badillo</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%- include('footer') %>
