<%- include('header', {rol:rol, pg:"perfil", color: color, font: font}) %>

<script src="/javascripts/editarPerfil.js"></script>

<div class="container py-5">
  <div class="row justify-content-around mb-5">
    <!-- Columna izquierda -->
    <div class="col-md-6 px-4 mb-4">
      <h2 class="text-center mb-4 text-decoration-underline">Datos personales</h2>
      <table class="table border">
        <tr>
          <th>Nombre completo:</th>
          <td><%= user.nombre %></td>
        </tr>
        <tr>
          <th>Correo:</th>
          <td><%= user.correo %></td>
        </tr>
        <tr>
          <th>Teléfono:</th>
          <td><%= user.telefono || '-' %></td>
        </tr>
        <tr>
          <th>Facultad:</th>
          <td><%= facultad.nombre %></td>
        </tr>
        <tr>
          <th>Organizador:</th>
          <td><%= user.organizador ? 'Sí' : 'No' %></td>
        </tr>
      </table>
      <div class="text-center">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editarPerfilModal">Editar perfil</button>
      </div>
    </div>
    
    <!-- Columna derecha -->
    <div class="col-md-6 px-4 mb-5">
      <h2 class="mb-4 text-decoration-underline text-center">Historial de eventos</h2>
      <div class="eventTable table-responsive">
        <table class="table border text-center table-striped">
          <thead>
            <tr>
              <th>Título</th>
              <th>Fecha</th>
              <th>Más información</th>
            </tr>
          </thead>
          <tbody> <% if(historial && historial.length > 0) { historial.forEach(evento => { %>
            <tr>
              <td><%= evento.título %></td>
              <td><%= evento.fecha %></td>
              <td><a href='/evento/evento/<%= evento.ID %>' class="btn btn-secondary" role="button">Ver evento</a></td>
            </tr><% }); } %>
          </tbody>
        </table>
      </div>
    </div>
  </div> 
</div>

<!-- Modal para editar perfil -->
<div class="modal fade" id="editarPerfilModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarPerfilModalLabel">Editar perfil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <form id="formEditarPerfil">
          <div class="form-group mb-3">
            <label for="nombre" class="form-label">Nombre completo</label>
            <input type="text" class="form-control" id="nombre" name="nombre" value="<%= user.nombre %>">
          </div>
          <div class="form-group mb-3">
            <label for="telefono" class="form-label">Teléfono</label>
            <input type="text" class="form-control" id="telefono" name="telefono" value="<%= user.telefono || '' %>">
          </div>
          <div class="form-group mb-3">
            <label for="facultad" class="form-label">Facultad</label>
            <select class="form-select" id="facultad" name="facultad"><% todasFacultades.forEach(facultad => { %>
              <option value="<%= facultad.ID %>" <%= facultad.ID === user.ID_facultad ? 'selected' : '' %> > 
                <%= facultad.nombre %>
              </option>
              <% }); %>
            </select>
          </div>
          <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-secondary">Guardar cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div> 
</div> 

<%- include('footer') %>

